*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  background-color: #f1f1f1;
}
html{
  scroll-behavior: smooth;
}
/* font-family: 'Kablammo', cursive;
font-family: 'Sirin Stencil', cursive;
font-family: 'Urbanist', sans-serif; */

.navbar{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 70px;
  background-color: #011E3D;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 0px 0px 4px 1px;
}

.navbar img{
  width: 25%;
  transition: .3s all;
}
.navbar img:hover{
  transform: rotateZ(360deg);
}
.navbar ul{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  transition: .5s all;
}

.navbar ul li a:hover{
  color: aqua;
}

.login-btn{
  background: white;
  color: black;
  padding: 1% 3%;
  margin: 3% 3% 3% 0;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  transition: .4s all ease-in-out;
  cursor: pointer;
  font-size: 0.7rem;
}

.login-btn:hover{
  background: rgb(63, 61, 61);
  box-shadow: 0px 0px 5px 2px;
  color: white;
}

.admin-btn{
  background: none;
  color: white;
  border: none;
  cursor: pointer;
  scale: 1.5;
  position: relative;
  transition: .4s all ease-in-out;
}

.admin-btn:hover{
  color: aqua;
}
/* Header  */

.header{
  height: 40vh;
  background: rgba(34, 34, 37, 0.74)url("./Images/header_career.png");
  background-position: center;
  background-size: cover;
  background-blend-mode: darken;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 4px 1px #011E3D;
}

.header form{
  width: 100%;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.header input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 15px;
  font-size: 14px;
  color: #cac7ff;
}

.header input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  content: URL();
  cursor: pointer;
 }

.header input::placeholder{
  color: #cac7ff;
}

.header button{
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #ffffff;
  cursor: pointer;
  color: #011E3D;
  position: relative;
}
/* .header input{
  position: relative;
  top: 90px;
  background: white;
  padding: 1% 2%;
  width: 40%;
  border: 1px solid white;
  border-radius: 0  15px;
} */

/* Section */

.section{
  height: 90vh;
  padding: 0 15%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.section-category{
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 3px -1px;
  padding: 10% 5%;
  margin-bottom: 20px;
}

.section-category p{
  color: #2296F0;
  font-size: 0.9rem;
}
.section-category legend{
  color: #2296F0;
  font-size: 0.9rem;
}

.section-category select{
  border: 1px solid #fff;
  width: 100%;
  outline: none;
  cursor: pointer;
}

.section-location{
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 0px 3px -1px;
  padding: 10% 5%;
}

.section-location button{
  background: none;
  border: none;
  width: 100%;
  display: block;
  display: flex;
}

.section-location p{
  color: #2296F0;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.section-location li{
  list-style: none;
  font-size: 0.9rem;
  color: rgb(102, 97, 97);
  margin: 2px;
  transition: .3s ease;
  cursor: pointer;
  width: 100%;
  display: flex;
}

.section-location li:hover{
  background-color: rgba(128, 128, 128, 0.219);
}

.section-right{
  margin-left: 50px;
}

.section-location ul li a{
  text-decoration: none;
}

.pagination-btn{
  background: #2296F0;
  color: white;
  padding: 1% 3%;
  margin-right: 20px;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  transition: .3s all ease-in-out;
  cursor: pointer;
}

.pagination-btn:hover{
  background: white;
  color: #2296F0;
  box-shadow: 0px 0px 4px 1px;
}

.pagination-btn.active{
  background: orange;
  color: white;
  padding: 1% 3%;
  margin-right: 20px;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  transition: .3s all ease-in-out;
  cursor: pointer;
}

.jobs{
  background-color: #fff;
  box-shadow: 0px 0px 3px -1px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding: 3%;
}

.jobs h2{
  font-size: 1.2rem;
  font-weight: 400;
  color: #444;
}

.jobs p{
  text-transform: capitalize;
}

.jobs span{
  font-size: 0.7rem;
  position: relative;
  bottom: 10px;
  font-weight: 400;
  color: #777;
}

.jobs h5{
  font-size: 0.8rem;
  /* position: relative;
  bottom: 10px; */
  font-weight: 400;
  color: #444;
}

.jobs button{
  background: #2296F0;
  color: white;
  padding: 1% 3%;
  margin-top: 30px;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  transition: .3s all ease-in-out;
  cursor: pointer;
}

.jobs button:hover{
  background: white;
  color: #2296F0;
  box-shadow: 0px 0px 4px 1px;
}

/* Single Job page */

.job-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.job{
  position: relative;
  top: 50px;
  width: 65%;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 0px 4px -1px;
  padding: 2% 3%;
}


.job h2{
  font-size: 1.2rem;
  font-weight: 400;
  color: #444;
}

.job span{
  font-size: 0.7rem;
  position: relative;
  bottom: 10px;
  font-weight: 400;
  color: #777;
}

.job p{
  text-transform: capitalize;
}

.job h5{
  font-size: 1rem;
  font-weight: 400;
  color: #444;
}

/* Filtered Jobs */
.filtered-header{
  display: flex;
  /* background-color: #2296F0; */
  margin-bottom: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0 15%;
}

.goBack{
  border: none;
  cursor: pointer;
  color: #0168b8;
  transition: .3s all;
  scale: 109%;
  position: relative;
  top: -2px;
  background: none;
}

.goBack:hover{
  color: red;
}

.not-found{
  width: 27%;
}
.not-found-container{
  text-align: center;
}
.go-back-icon{
  position: relative;
  top: 5px;
  margin-left: 10px;
}

/* Login Page */

.login{
  height: 140vh;
  background-color: #ffaa00;
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M91.23 544.19L156.19 581.69L156.19 656.69L91.23 694.19L26.28 656.69L26.28 581.69zM156.19 -18.31L221.14 19.19L221.14 94.19L156.19 131.69L91.23 94.19L91.23 19.19zM221.14 319.19L286.1 356.69L286.1 431.69L221.14 469.19L156.19 431.69L156.19 356.69zM286.1 431.69L351.05 469.19L351.05 544.19L286.1 581.69L221.14 544.19L221.14 469.19zM480.96 94.19L545.91 131.69L545.91 206.69L480.96 244.19L416 206.69L416 131.69zM480.96 544.19L545.91 581.69L545.91 656.69L480.96 694.19L416 656.69L416 581.69zM740.77 319.19L805.73 356.69L805.73 431.69L740.77 469.19L675.82 431.69L675.82 356.69zM675.82 431.69L740.77 469.19L740.77 544.19L675.82 581.69L610.86 544.19L610.86 469.19zM870.68 94.19L935.63 131.69L935.63 206.69L870.68 244.19L805.72 206.69L805.72 131.69zM870.68 319.19L935.63 356.69L935.63 431.69L870.68 469.19L805.72 431.69L805.72 356.69zM870.68 544.19L935.63 581.69L935.63 656.69L870.68 694.19L805.72 656.69L805.72 581.69zM935.63 431.69L1000.59 469.19L1000.59 544.19L935.63 581.69L870.68 544.19L870.68 469.19zM1130.49 94.19L1195.45 131.69L1195.45 206.69L1130.49 244.19L1065.54 206.69L1065.54 131.69zM1130.49 319.19L1195.45 356.69L1195.45 431.69L1130.49 469.19L1065.54 431.69L1065.54 356.69zM1195.45 -18.31L1260.4 19.19L1260.4 94.19L1195.45 131.69L1130.49 94.19L1130.49 19.19zM1195.45 206.69L1260.4 244.19L1260.4 319.19L1195.45 356.69L1130.49 319.19L1130.49 244.19zM1260.4 319.19L1325.35 356.69L1325.35 431.69L1260.4 469.19L1195.45 431.69L1195.45 356.69zM1195.45 431.69L1260.4 469.19L1260.4 544.19L1195.45 581.69L1130.49 544.19L1130.49 469.19zM1325.36 -18.31L1390.31 19.19L1390.31 94.19L1325.36 131.69L1260.4 94.19L1260.4 19.19zM1520.22 319.19L1585.17 356.69L1585.17 431.69L1520.22 469.19L1455.26 431.69L1455.26 356.69z' stroke='%2303305d' stroke-width='2'%3e%3c/path%3e%3cpath d='M83.73 544.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM148.69 581.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM148.69 656.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM83.73 694.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM18.78 656.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM18.78 581.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM148.69 -18.31 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM213.64 19.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM213.64 94.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM148.69 131.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM83.73 94.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM83.73 19.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM213.64 319.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM278.6 356.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM278.6 431.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM213.64 469.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM148.69 431.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM148.69 356.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM343.55 469.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM343.55 544.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM278.6 581.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM213.64 544.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM473.46 94.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM538.41 131.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM538.41 206.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM473.46 244.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM408.5 206.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM408.5 131.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM473.46 544.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM538.41 581.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM538.41 656.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM473.46 694.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM408.5 656.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM408.5 581.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM733.27 319.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.23 356.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.23 431.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM733.27 469.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM668.32 431.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM668.32 356.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM733.27 544.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM668.32 581.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM603.36 544.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM603.36 469.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.18 94.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.13 131.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.13 206.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.18 244.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.22 206.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.22 131.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.18 319.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.13 356.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.13 431.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.18 469.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.22 431.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.22 356.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.18 544.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.13 581.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM928.13 656.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM863.18 694.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.22 656.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM798.22 581.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM993.09 469.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM993.09 544.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1122.99 94.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.95 131.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.95 206.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1122.99 244.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1058.04 206.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1058.04 131.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1122.99 319.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.95 356.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.95 431.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1122.99 469.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1058.04 431.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1058.04 356.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.95 -18.31 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.9 19.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.9 94.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1122.99 19.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.9 244.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.9 319.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.85 356.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.85 431.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.9 469.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1252.9 544.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1187.95 581.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1122.99 544.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.86 -18.31 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1382.81 19.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1382.81 94.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1317.86 131.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1512.72 319.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1577.67 356.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1577.67 431.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1512.72 469.19 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1447.76 431.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0zM1447.76 356.69 a7.5 7.5 0 1 0 15 0 a7.5 7.5 0 1 0 -15 0z' fill='%2303305d'%3e%3c/path%3e%3cpath d='M50.89 40.98L94.2 65.98L94.2 115.98L50.89 140.98L7.59 115.98L7.59 65.98zM7.59 115.98L50.89 140.98L50.89 190.98L7.59 215.98L-35.71 190.98L-35.71 140.98zM50.89 190.98L94.2 215.98L94.2 265.98L50.89 290.98L7.59 265.98L7.59 215.98zM7.59 415.98L50.89 440.98L50.89 490.98L7.59 515.98L-35.71 490.98L-35.71 440.98zM50.89 490.98L94.2 515.98L94.2 565.98L50.89 590.98L7.59 565.98L7.59 515.98zM94.2 -34.02L137.5 -9.02L137.5 40.98L94.2 65.98L50.89 40.98L50.89 -9.02zM137.5 40.98L180.8 65.98L180.8 115.98L137.5 140.98L94.2 115.98L94.2 65.98zM94.2 115.98L137.5 140.98L137.5 190.98L94.2 215.98L50.89 190.98L50.89 140.98zM137.5 340.98L180.8 365.98L180.8 415.98L137.5 440.98L94.2 415.98L94.2 365.98zM180.8 115.98L224.1 140.98L224.1 190.98L180.8 215.98L137.5 190.98L137.5 140.98zM224.1 340.98L267.4 365.98L267.4 415.98L224.1 440.98L180.8 415.98L180.8 365.98zM180.8 415.98L224.1 440.98L224.1 490.98L180.8 515.98L137.5 490.98L137.5 440.98zM310.71 190.98L354.01 215.98L354.01 265.98L310.71 290.98L267.4 265.98L267.4 215.98zM310.71 490.98L354.01 515.98L354.01 565.98L310.71 590.98L267.4 565.98L267.4 515.98zM354.01 -34.02L397.31 -9.02L397.31 40.98L354.01 65.98L310.71 40.98L310.71 -9.02zM483.92 40.98L527.22 65.98L527.22 115.98L483.92 140.98L440.62 115.98L440.62 65.98zM440.62 415.98L483.92 440.98L483.92 490.98L440.62 515.98L397.31 490.98L397.31 440.98zM483.92 490.98L527.22 515.98L527.22 565.98L483.92 590.98L440.62 565.98L440.62 515.98zM570.52 340.98L613.83 365.98L613.83 415.98L570.52 440.98L527.22 415.98L527.22 365.98zM613.83 -34.02L657.13 -9.02L657.13 40.98L613.83 65.98L570.52 40.98L570.52 -9.02zM613.83 115.98L657.13 140.98L657.13 190.98L613.83 215.98L570.52 190.98L570.52 140.98zM613.83 415.98L657.13 440.98L657.13 490.98L613.83 515.98L570.52 490.98L570.52 440.98zM700.43 -34.02L743.73 -9.02L743.73 40.98L700.43 65.98L657.13 40.98L657.13 -9.02zM700.43 265.98L743.73 290.98L743.73 340.98L700.43 365.98L657.13 340.98L657.13 290.98zM700.43 415.98L743.73 440.98L743.73 490.98L700.43 515.98L657.13 490.98L657.13 440.98zM787.04 -34.02L830.34 -9.02L830.34 40.98L787.04 65.98L743.73 40.98L743.73 -9.02zM830.34 40.98L873.64 65.98L873.64 115.98L830.34 140.98L787.04 115.98L787.04 65.98zM787.04 265.98L830.34 290.98L830.34 340.98L787.04 365.98L743.73 340.98L743.73 290.98zM787.04 415.98L830.34 440.98L830.34 490.98L787.04 515.98L743.73 490.98L743.73 440.98zM830.34 490.98L873.64 515.98L873.64 565.98L830.34 590.98L787.04 565.98L787.04 515.98zM873.64 115.98L916.94 140.98L916.94 190.98L873.64 215.98L830.34 190.98L830.34 140.98zM916.94 340.98L960.25 365.98L960.25 415.98L916.94 440.98L873.64 415.98L873.64 365.98zM873.64 415.98L916.94 440.98L916.94 490.98L873.64 515.98L830.34 490.98L830.34 440.98zM1003.55 190.98L1046.85 215.98L1046.85 265.98L1003.55 290.98L960.25 265.98L960.25 215.98zM1003.55 340.98L1046.85 365.98L1046.85 415.98L1003.55 440.98L960.25 415.98L960.25 365.98zM1003.55 490.98L1046.85 515.98L1046.85 565.98L1003.55 590.98L960.25 565.98L960.25 515.98zM1046.85 -34.02L1090.15 -9.02L1090.15 40.98L1046.85 65.98L1003.55 40.98L1003.55 -9.02zM1090.15 190.98L1133.45 215.98L1133.45 265.98L1090.15 290.98L1046.85 265.98L1046.85 215.98zM1176.76 40.98L1220.06 65.98L1220.06 115.98L1176.76 140.98L1133.45 115.98L1133.45 65.98zM1133.45 115.98L1176.76 140.98L1176.76 190.98L1133.45 215.98L1090.15 190.98L1090.15 140.98zM1133.45 415.98L1176.76 440.98L1176.76 490.98L1133.45 515.98L1090.15 490.98L1090.15 440.98zM1220.06 -34.02L1263.36 -9.02L1263.36 40.98L1220.06 65.98L1176.76 40.98L1176.76 -9.02zM1263.36 340.98L1306.66 365.98L1306.66 415.98L1263.36 440.98L1220.06 415.98L1220.06 365.98zM1349.97 40.98L1393.27 65.98L1393.27 115.98L1349.97 140.98L1306.66 115.98L1306.66 65.98zM1306.66 115.98L1349.97 140.98L1349.97 190.98L1306.66 215.98L1263.36 190.98L1263.36 140.98zM1349.97 190.98L1393.27 215.98L1393.27 265.98L1349.97 290.98L1306.66 265.98L1306.66 215.98zM1349.97 490.98L1393.27 515.98L1393.27 565.98L1349.97 590.98L1306.66 565.98L1306.66 515.98zM1436.57 40.98L1479.88 65.98L1479.88 115.98L1436.57 140.98L1393.27 115.98L1393.27 65.98zM1393.27 115.98L1436.57 140.98L1436.57 190.98L1393.27 215.98L1349.97 190.98L1349.97 140.98zM1436.57 190.98L1479.88 215.98L1479.88 265.98L1436.57 290.98L1393.27 265.98L1393.27 215.98z' stroke='rgba(6%2c 80%2c 156%2c 0.93)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
background-attachment: fixed;
background-size: cover;
}

.register-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: linear-gradient(90deg, rgba(199, 40, 40, 0.39), rgba(255, 255, 255, 0.301)); */
  background: rgba(255, 255, 255, 0.301);
  backdrop-filter: blur(2px);
  /* filter: blur(1px);
  -webkit-filter: blur(1px); */
  position: relative;
  top: 40px;
  width: 32%;
  left: 34%;
  padding: 1.5% 0;
  border-radius: 10px;
  color: white;
}

.register-container input{
  width: 100%;
  margin-bottom: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(213, 212, 214, 0.712);
  padding: 4px 4%;
  position: relative;
  top: -3px;
}

.register-container textarea{
  width: 100%;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.384);
  border: none;
  border-bottom: 2px solid rgba(213, 212, 214, 0.712);
  padding: 4px 4%;
  border-radius: 7px;
}

.register-container-btn{
  position: relative;
  margin: 15px 0;
  border: none;
  border-radius: 30px;
  padding: 10px 4%;
  width: 100%;
  transition: .5s all;
  background: #000000e0;
  color: #dad7d7;
  box-shadow: 0px 0px 3px 3px;
  cursor: pointer;
}

.register-container-btn:hover{
  background: transparent;
  color: black;
  box-shadow: 0px 0px 5px 2px;
}

.register-container-btn:disabled{
  background: #a8a5a5e0;
  color: #dad7d7;
  box-shadow: 0px 0px 0px 0px;
  cursor: not-allowed;
}
.register-container-btn:disabled:hover{
  background: #a8a5a5e0;
  color: #dad7d7;
  box-shadow: 0px 0px 0px 0px;
}

/* Search Page */

.search-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 2%;
}

/* Admin Dashboard */

.dashboard{
  background: #00294E;
}

.dashboard-sidebar{
  width: 20%;
  background: #023164;
  color: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.575);
  height: 100vh;
  border-radius: 5px;
  margin-top: 2px;  
  float: left;
  position: sticky;
  top: 0;
  transition: .6s ease;
}

.dashboard-sidebar div{
  color: white;
}
.dashboard-sidebar img{
  width: 40%;
  margin: 50px 0px 20px 60px;
  transition: .8s all;
}

.dashboard-sidebar img:hover{
  transform: rotate(360deg);
}

.dashboard-sidebar div{
  display: flex;
  align-items: center;
  padding: 26px 20px;
}

.dashboard-sidebar div:hover{
  background-color: #011E3D;
}

.dashboard-icon{
  margin: 0px 9px;
  color: #2395F0;
}

.dashboard-sidebar div:hover .dashboard-icon{
  transform: rotate(360deg);
  transition: .6s ease;
}

.dashboard-main{
  color: white;
  padding-bottom: 243px;
}

.datagrid-header{
  font-size: 1rem;
  color: white;
}

.menu-icon{
  position: relative;
  top: 15px;
  right: 15px;
  float: right;
  display: block;
  scale: 1.3;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
}

/* dashboard user */

.users-container{
  margin-top: 14vh;
  width: 70%;
  margin-left: 25%;
}

.create-user-btn{
  background-color: green ;
  color: white;
  border: none;
  float: right;
  position: relative;
  right: 25px;
  padding: 6px 14px;
  border-radius: 6px;
  cursor: pointer;
  transition: .5s all;
}

.create-user-btn:hover{
  background-color: white;
  color: green;
  box-shadow: 0px 0px 4px 3px;
}

.dashboard-panel{
  background-color: #023368;
  width: 35%;
  margin: 10px;
  padding: 3% 4%;
  border-radius: 5px;
  box-shadow: 0px 0px 4px -1px;
  display: flex;
  align-items: center;
}

.dashboard-panel:hover{
 background-color: transparent;
 box-shadow: 0px 0px 7px -1px;
}

.dashboard-panel:hover .dashboard-panel-icon{
  transform: rotate(360deg);
  transition: .5s all;
 }

.dashboard-panel span{
  color: lightskyblue;
  font-size: 0.7rem;
}

.dashboard-panel h3{
  font-size: 1.7rem;
  margin-right: 10px;
}

.dashboard-panel-icon{
  background-color: #2196F3;
  scale: 1.5;
  padding: 2%;
  border-radius: 50%;
  margin-right: 24px;
}

.sub-dashboard-main{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 24%;
}

/* Inputs */
.createUser-inputs{
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1%;
}

/* register-input-container */
.register-input-container{
  padding: 0% 7%;
}
.register-input-container p{
  color: lightcoral;
  border-radius: 5px;
  width: fit-content;
  position: relative;
  top: -5px;
  font-size: 0.9rem;
}

.visible-btn{
  position: relative;
  top: -50px;
  left: 87%;
  cursor: pointer;
  background-color: #000;
  width: 1px;
}

.visible-icon{
  color: rgb(228, 222, 222);
}

.create-user-select{
  background: rgba(255, 255, 255, 0.315);
  border-radius: 2px;
  border: none;
  border-bottom: 2px solid white;
  position: relative;
  left: 5px;
  outline: none;
}

.create-job-up{
  display: flex;
  flex-direction: column;
}


/* About us page */

.about{
  text-align: center;
  padding: 0% 10%;
}

.about_header{
  padding-bottom: 6%;
  padding-top: 2%;
  padding-left: 8%;
  padding-right: 8%;
}

.about_container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 3%;
}

.sub-about-container{
  box-shadow: 0px 0px 4px 1px;
  margin: 5%;
  padding: 8%;
  transition: .7s ease;
  border-radius: 10px;
}

.sub-about-container:hover{
  background: #1a1919;
  color: white;
}

.sub-about-container div{
  height: 5px;
  background: #85C4F4;
  width: 50px;
  position: relative;
  left: 40%;
  margin-bottom: 12%;
  margin-top: 2%;
  border-radius: 5px;
}

.sub-about-container p{
  font-weight: 600;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.about-icon{
  font-size: 1.9rem;
}

.about_footer{
  padding: 2%;
  padding-left: 2%;
  background-color: #d1cdcdc5;
  border-radius: 10px;
}

.about_span{
  color: #0f59c9;
}

/* Contact us page */

.contact{
  padding: 0 10%;
  margin-top: 20px;
}

.container.contact__container{
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  width: 90%;
}

.contact h5, h2{
  margin-bottom: 2%;
}

.me{
  color: #0f59c9;
}

.contact__options{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: max-content;
}

.contact__option{
  background-color: rgb(255, 255, 255);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1px solid transparent;
  transition: .3s ease;
  border-color: #85C4F4;
  box-shadow: 0px 0px 5px -1px;
}

.contact__option:hover{
  background: transparent;
  border-color: blue;
  box-shadow: 0px 0px 1px -1px
}

.contact__option:hover .contact-icon{
  transition: .6s ease;
  transform: rotate(360deg);
}

.contact-icon{
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  transform: rotate(1deg);
  color: #0B52BE;
}

.contact__option a{
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  text-decoration: none;
  color: #0B52BE;
}

.contact_form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact_form input,.contact_form textarea{
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid rgba(60, 60, 151, 0.479);
  resize: none;
  color: white;
}

.contact_form button{
  border: none;
  background-color: #0B52BE;
  color: white;
  width: 30%;
  padding: 3%;border-radius: 5px;
  margin-bottom: 15%;
  transition: .5s ease;
  font-size: 1rem;
}

.contact_form button:hover{
  color: #0B52BE;
  background: white;
  box-shadow: 0px 0px 4px 2px;
}

/* Footer */
footer{
  background-color: #011E3D;
  position: relative;
  top: 40vh;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 0.8rem;
}

/* Loading */
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40vh;
  left: 45%;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #000;
  border-color: #000 transparent #000 transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/* Scroll bar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, rgba(0, 128, 0, 0.658), rgba(255, 255, 0, 0.856), rgba(255, 0, 0, 0.822));
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
